<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>FaceDetect AI</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

    <link rel="preconnect"
          href="https://fonts.googleapis.com">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">

</head>

<body>

<!-- Navbar -->

<nav>

    <div class="logo">
        FaceDetect AI
    </div>

    <ul>

        <li><a href="/">Home</a></li>

        <li><a href="/about">About</a></li>

        <li><a href="/services">Services</a></li>

        <li><a href="/contact">Contact</a></li>

    </ul>

</nav>

<!-- Hero Section -->

<section class="hero">

    <div class="left-section">

        <h1>
            CNN Based Human Face Detection System
        </h1>

        <p>
            Upload any image and detect human faces
            using Deep Learning and OpenCV.
        </p>

    </div>

    <!-- Upload Card -->

    <div class="upload-card">

        <h2>Upload Image</h2>

        <form action="/predict"
              method="POST"
              enctype="multipart/form-data">

            <div class="upload-box">

                <input type="file"
                       name="file"
                       required>

            </div>

            <button type="submit">
                Detect Faces
            </button>

        </form>

        {% if prediction %}

        <div class="result">

            <h3>{{ prediction }}</h3>

            <img
                src="{{ url_for('static',
                filename='output/' + image) }}"
                class="output-image"
            >

        </div>

        {% endif %}

    </div>

</section>

</body>

</html>