<!DOCTYPE html>
<html>

<head>

    <title>Services</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<nav>

    <div class="logo">
        FaceDetect AI
    </div>

</nav>

<div class="page-container">

    <h1>Our Services</h1>

    <div class="service-grid">

        <div class="service-card">
            AI Face Detection
        </div>

        <div class="service-card">
            Smart Security
        </div>

        <div class="service-card">
            Deep Learning Analysis
        </div>

    </div>

</div>

</body>

</html>